keypair_name                = "D:\Tài liệu\K8S-Doc\k8s_learning_example-master\k8s_learning_example-master\ec2-test-key.pem"
instance_type_master        = "t3.small"
instance_type               = "t2.micro"
control_plane_instance_name = "kubemaster"
region                      = "ap-southeast-1"
number_of_workers           = "2"
include_policy_ebs_csi_driver      = false
include                     = []
# docker, cri-docker: config kubernetes cluster with docker (> v1.24). without this tag, containerd will be used
# etcd              : etcd client to communicate with etcd
# helm              : include helm
# ebs-csi-driver    : ebs-csi-driver installed after cluster is created
# argocd            : argocd installed after cluster is created